{% extends 'base.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}Feed manager{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'treegrid/css/jquery.treegrid.css' %}">
{% endblock %}

{% block header-title %}Feed Manager{% endblock %}
{% block header-descriptiom %}Here you can customize your events feed{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <form method="POST" action="">
                    {% csrf_token %}
                    <table class="table table-hover tree">
                        {% recursetree tags_tree %}
                            <tr class="treegrid-{{ node.name }}{% if not node.is_root_node %} treegrid-parent-{{ node.parent.name }}{% endif %}">
                                <td class="treegrid-toogler">
                                    <span class="btn btn-primary">{{ node.name }} <i class="new-tag">{{ node.get_descendant_count }}</i></span>
    {#                                <span class="badge">4</span>#}
                                </td>
                                <td>
                                    <input name="tags_selected"
                                           value="{{ node.name }}"
                                           id="id_tags_selected_{{ node.id }}"
                                           type="checkbox"
                                           class="checkbox"
                                           {% if node in user.userdata.tags_subscribed.all %} checked {% endif %}>
                                </td>
                            </tr>
                            {% if not node.is_leaf_node %}
                                {{ children }}
                            {% endif %}
    {#                        <tr class="treegrid-2 treegrid-parent-1">#}
    {#                            <td>Node 1-1</td><td>Additional info</td>#}
    {#                        </tr>#}
    {#                        <tr class="treegrid-3 treegrid-parent-1">#}
    {#                            <td>Node 1-2</td><td>Additional info</td>#}
    {#                        </tr>#}
    {#                        <tr class="treegrid-4 treegrid-parent-3">#}
    {#                            <td>Node 1-2-1</td><td>Additional info</td>#}
    {#                        </tr>#}
                        {% endrecursetree %}
                    </table>
                    <button class="btn btn-default" type="submit">Save selection</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'treegrid/js/jquery.treegrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'treegrid/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript">
        $('.tree').treegrid({
            'initialState': 'collapsed',
            'saveState': true
        });

        $('.treegrid-toogler').on('click', function(e){
            if (!($(e.target).hasClass('treegrid-expander'))){
                $(this).closest('tr').treegrid('toggle');
            }
        });
    </script>
{% endblock %}