{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block header %}{% endblock %}

{% block page_content %}
    <!-- Sign Up form -->
    <form class="form-login form-wrapper form-narrow" method="POST" action="" role="form">
        <h3 class="title-divider">
            <span>Log In</span>
            <small>Not signed up? <a href="{% url 'signup' %}">Sign up here</a>.</small>
        </h3>
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="login-email-page">Email</label>
            <input name="username" type="text" id="login-username-page" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label class="sr-only" for="login-password-page">Password</label>
            <input name="password" type="password" id="login-password-page" class="form-control password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        | <a href="#">Forgotten Password?</a>
    </form>
{% endblock %}