{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block header %}{% endblock %}

{% block page_content %}
    <!-- Sign Up form -->
    <form class="form-login form-wrapper form-medium" role="form" method="POST" action="">
        <h3 class="title-divider">
            <span>Sign Up</span>
            <small>Already signed up? <a href="{% url 'login' %}">Login here</a>.</small>
        </h3>

        <h5>
            Account Information
        </h5>
        {% csrf_token %}

        {% for field in form %}
            {{ field|as_crispy_field }}
        {% endfor %}

{#        <div class="form-group">#}
{#            <label class="sr-only" for="signup-first-name-page">First Name</label>#}
{#            <input name="first_name" type="text" class="form-control" id="signup-first-name-page" placeholder="First name">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="sr-only" for="signup-last-name-page">Last Name</label>#}
{#            <input name="last_name" type="text" class="form-control" id="signup-last-name-page" placeholder="Last name">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="sr-only" for="signup-username-page">Userame</label>#}
{#            <input name="username" type="text" class="form-control" id="signup-username-page" placeholder="Username">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="sr-only" for="signup-email-page">Email address</label>#}
{#            <input name="email" type="email" class="form-control" id="signup-email-page" placeholder="Email address">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="sr-only" for="signup-password-page">Password</label>#}
{#            <input name="password" type="password" class="form-control" id="signup-password-page" placeholder="Password">#}
{#        </div>#}
{#        <div class="checkbox">#}
{#            <label>#}
{#                <input name="term" type="checkbox" value="term">#}
{#                I agree with the Terms and Conditions.#}
{#            </label>#}
{#        </div>#}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>

{#    {% crispy form %}#}

{% endblock %}