{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Pulsar | {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- @todo: fill with your company info or remove -->
        <meta name="description" content="">
        <meta name="author" content="Oleg Dragora">

        <!-- Bootstrap CSS -->
        <link href="{% static 'theme/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="{% static 'theme/css/font-awesome.min.css' %}" rel="stylesheet">

        <!-- Plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 -->
        <!-- Plugin: animate.css (animated effects) - http://daneden.github.io/animate.css/ -->
        <link href="{% static 'theme/plugins/animate/animate.css' %}" rel="stylesheet">
        <!-- @LINEBREAK -- <!-- Plugin: flag icons - http://lipis.github.io/flag-icon-css/ -->
        <link href="{% static 'theme/plugins/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">

        <!-- Theme style -->
        <link href="{% static 'theme/css/theme-style.min.css' %}" rel="stylesheet">

        <!--Your custom colour override-->
        <link href="#" id="colour-scheme" rel="stylesheet">

        <!-- Your custom override -->
        <link href="{% static 'theme/css/custom-style.css' %}" rel="stylesheet">

        <!-- HTML5 shiv & respond.js for IE6-8 support of HTML5 elements & media queries -->
        <!--[if lt IE 9]>
        <script src="{% static 'theme/plugins/html5shiv/dist/html5shiv.js' %}"></script>
        <script src="{% static 'theme/plugins/respond/respond.min.js' %}"></script>
        <![endif]-->

        <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
{#        <link rel="shortcut icon" href="{% static 'theme/img/icons/favicon.png' %}">#}
{#        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'theme/img/icons/114x114.png' %}">#}
{#        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'theme/img/icons/72x72.png' %}">#}
{#        <link rel="apple-touch-icon-precomposed" href="{% static 'theme/img/icons/default.png' %}">#}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>

        {% block css %}
        {% endblock %}

        <!--Plugin: Retina.js (high def image replacement) - @see: http://retinajs.com/-->
        <script src="{% static 'theme/plugins/retina/dist/retina.min.js' %}"></script>
    </head>

    <!-- ======== @Region: body ======== -->
    <body class="page page-starter">
        <a href="#content" class="sr-only">Skip to content</a>

        {% include 'ui/header.html' %}

        <div id="content">
            <div class="container">
                {% block header %}
                    <h2 class="title-divider">
                        <span>{% block header-title %}{% endblock %}</span>
                        <small>{% block header-descriptiom %}{% endblock %}</small>
                    </h2>
                {% endblock %}
                {% block page_content %}
                {% endblock %}
            </div>
        </div>

        <!-- ======== @Region: #footer ======== -->
        {% include 'ui/footer.html' %}

        <!--Scripts -->
        <script src="{% static 'theme/js/jquery.min.js' %}"></script>

        <!-- Bootstrap JS -->
        <script src="{% static 'theme/js/bootstrap.min.js' %}"></script>


        <!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 -->

        <!--Custom scripts mainly used to trigger libraries/plugins -->
        <script src="{% static 'theme/js/script.min.js' %}"></script>

        <script type="text/javascript">
            var PLUGINS_PATH = "{% static 'theme/plugins' %}/";
        </script>

        {% block js %}
        {% endblock %}

    </body>

</html>