<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col">
                <div class="block contact-block">
                    <!--@todo: replace with company contact details-->
                    <h3>
                        Contact Us
                    </h3>
                    <address>
                        <ul class="fa-ul">
                            <li>
                                <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                                019223 8092344
                            </li>
                            <li>
                                <abbr title="Email"><i class="fa fa-li fa-envelope"></i></abbr>
                                info@pulsar.com
                            </li>
                            <li>
                                <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                                Sunshine House, Sunville. SUN12 8LU.
                            </li>
                        </ul>
                    </address>
                </div>
            </div>

            <div class="col-md-5 col">
                <div class="block">
                    <h3>
                        About Us
                    </h3>
                    <p>We will make you forget the pain of calendar events management. All you need is already here.</p>
                </div>
            </div>

            <div class="col-md-4 col">
                <div class="block newsletter">
                    <h3>
                        Newsletter
                    </h3>
                    <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
                    <!--@todo: replace with mailchimp code-->
                    <form role="form">
                        <div class="input-group input-group-sm">
                            <label class="sr-only" for="email-field">Email</label>
                            <input type="text" class="form-control" id="email-field" placeholder="Email">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
              </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="toplink">
                <a href="#top" class="top-link" title="Back to top">Back To Top <i class="fa fa-chevron-up"></i></a>
            </div>
            <!--@todo: replace with company copyright details-->
            <div class="subfooter">
                <div class="col-md-6">
                    <p><a href="/">Pulsar</a> | Copyright 2015 &copy; Pulsar</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline footer-menu">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>